<app-navbar></app-navbar>
<h1 class="text-center">Worker Dashboard</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Occupation</th>
                <th>Dashboard Privileges</th>
                <th></th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{getOccupationName(user.jobId)}} <button class="btn btn-info">Edit</button></td>
                <td>{{getRoleName(user.roleId)}}</td>
                <td><button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<button (click)="this.userService.goToSchedule()">Go to the schedules dashboard</button>
<button *ngIf="this.userService.isAdmin()" (click)="this.userService.goToAdmin()">Go to the admin dashboard</button>