.job-title{
    font-weight: bold;
    text-indent: 15px;
}

.table_container{
    width: 95%;
    display: flex;
    justify-content: center;
}

table td {
    height: 50px;
    width: 160px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    padding: 0 5px;
}

.shift{
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shift_controls{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 85%;
    margin-left: 10px;
}

.shift_icon{
    height: 25px;
    width: auto;

    position: absolute;
    left: 10px;
}

.shift_btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.5rem;
    opacity: 0.7;
}

.delete{
    color: red; 
}

.approve{
    color: green;
}

.shift_btn:hover {
    opacity: 1;
}

.shift--morning{
    background-color: #c1fdb5;
}

.shift--night{
    background-color: #281750;
    color: white;
}

.unapproved{
    background-color: rgb(236, 195, 120);
}

.controls{
    display: flex;
    justify-content: space-around;
}

button{
    margin-right: 8px;
}