.job-title{
    vertical-align: middle;
    font-weight: bold;
}

table td {
    height: 40px;
    width: 160px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    vertical-align: middle;
}

.form-select{
    height: 36px;
    width: 160px;
}