<app-navbar></app-navbar>

<h2 class="mt-4 mb-3 text-center">Schedule</h2>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let date of weekDates" class="text-center">
                    {{ date }}
                </th>
            </tr>
            <tr class="table-secondary">
                <th></th>
                <th *ngFor="let day of weekDays" class="text-center">
                    {{ day }}
                </th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let job of jobs">
                <tr>
                    <td rowspan="2" class="job-title">{{ job.title }}</td>
                    
                    <td *ngFor="let date of weekDates" class="text-center">
                        <div *ngFor="let schedule of organizedSchedules[date]?.[job.id]?.morning">
                            <div *ngIf="schedule.isApproved" class="shift shift--morning">
                                <span>{{ schedule.firstName }} {{ schedule.lastName }}</span>
                                <button *ngIf="userService.isAdmin()" class="shift_btn delete" (click)="deleteSchedule(schedule.id)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </div>
                            <div *ngIf="!schedule.isApproved" class="shift unapproved">
                                <span>{{ schedule.firstName }} {{ schedule.lastName }}</span>
                                <button class="shift_btn approve" (click)="approveScheduleRequest(schedule)" (click)="deleteSchedule(schedule.id)">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                </button>
                                <button *ngIf="userService.isAdmin()" class="shift_btn delete">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td *ngFor="let date of weekDates" class="text-center">
                        <div *ngFor="let schedule of organizedSchedules[date]?.[job.id]?.night">
                            <div *ngIf="schedule.isApproved" class="shift shift--night">
                                <span>{{ schedule.firstName }} {{ schedule.lastName }}</span>
                                <button *ngIf="userService.isAdmin()" class="shift_btn delete" (click)="deleteSchedule(schedule.id)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </div>
                            <div *ngIf="!schedule.isApproved" class="shift unapproved">
                                <span>{{ schedule.firstName }} {{ schedule.lastName }}</span>
                                <button class="shift_btn approve" (click)="approveScheduleRequest(schedule)">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                </button>
                                <button *ngIf="userService.isAdmin()" class="shift_btn delete" (click)="deleteSchedule(schedule.id)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <div class="controls">
        <button class="btn btn-primary" (click)="goToPreviousWeek()">Previous Week</button>
        <button class="btn btn-secondary" (click)="goToCurrentWeek()">Current Week</button>
        <button class="btn btn-primary" (click)="goToNextWeek()">Next Week</button>
    </div>

    <div *ngIf="!this.userService.isAdmin()">
        <form class="form" [formGroup]="requestForm" (ngSubmit)="requestSchedule()">
            <h1>Request a schedule</h1>
            <h2>Choose Date:</h2>

            <input class="form-select" type="date" name="requestDate" id="" formControlName="requestDate">

            <div *ngIf="requestForm.get('requestDate')?.invalid && requestForm.get('requestDate')?.touched">
                <p> Please select a date. </p>
            </div>

            <h3>Shift:</h3>

            <select class="form-select" id="shift" formControlName="shift" required formControlName="shift" required>
                <option *ngFor="let shift of shiftOptions" [ngValue]="shift">{{shift.name}}</option>
            </select>

            <div *ngIf="requestForm.get('shift')?.invalid && requestForm.get('shift')?.touched">
                <p> Please select a shift. </p>
            </div>

            <br>
            <br>
            <button class="btn btn-primary">Add Schedule</button>
        </form>
    </div>
    <br>
    <button *ngIf="this.userService.isAdmin()" (click)="this.userService.goToJobs()">Go to the jobs dashboard</button>
    <button (click)="this.userService.goToWorker()">Go to the worker dashboard</button>
    <button *ngIf="this.userService.isAdmin()" (click)="this.userService.goToAdmin()">Go to the admin dashboard</button>
</div>
