.job-title{
    font-weight: bold;
    text-indent: 15px;
}

table td {
    height: 40px;
    min-width: 160px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    padding: 0 5px;
}

.shift{
    border-radius: 20px;

    display: flex;
    justify-content: center;
    gap: 15px;
}

.shift_btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.5rem;
}

.delete{
    color: red; 
}

.approve{
    color: green;
}

.shift_btn:hover {
    color: #42a858;
}

.shift--morning{
    background-color: lightgreen;
}

.shift--night{
    background-color: lightblue;
}

.unapproved{
    background-color: rgb(236, 195, 120);
}

.controls{
    display: flex;
    justify-content: space-around;
}

button{
    margin-right: 8px;
}